.navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: black !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: red !important;
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: max-content;
        justify-content: end !important;
    }
}
  